
<h1>Sign up Page!</h1>

<form id="form" action="/signup" method="post">
    <label for="username"></label>Username</label> <br>
    <input type="text" name="username" placeholder="Goku"> <br>

    <label for="password">Password</label> <br>
    <input type="text" name="password" placeholder="Kamehameha"> <br>
    <button type="submit">Join</button>
</form>

    <a href="/">Index Page</a>
